body {
	color: #413b3b;
	font-family: "Inter", sans-serif;
	margin: 0;
	height: 100vh;
}

.home {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	background-color: #f8f8f8;
	background-image: url(assets/vector.png);
	background-size: cover;
}

.home.deactive {
	display: none;
}

.home-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home-content h2 {
	font-size: 60px;
	font-weight: 800;
	margin: 0;
}

.home-content p {
	font-size: 18px;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 30px;
	max-width: 40%;
	text-align: center;
}

.home-content .start-btn {
	width: 300px;
	height: 55px;
	background-color: #413b3b;
	border: none;
	font-size: 25px;
	font-weight: 900;
	color: white;
	letter-spacing: 1px;
	cursor: pointer;
	transition: .5s ease;
}

.home-content .start-btn:hover {
	font-size: 30px;
	opacity: 1;

}

.about {
	width: 250px;
	height: 30px;
	background-color: #ff9460;
	font-size: 20px;
	color: white;
	border: none;
}

.main {
	width: 100%;
	height: 100%;
	display: none;
	flex-direction: column;
	opacity: 1;
	background: #f8f8f8;
	border-radius: 10px;

}

.main.active {
	display: flex;
}

.question-box {
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	flex-direction: column;
	padding: 5%;
}

.question-text {
	width: 90%;
	font-size: 20px;
	text-align: justify;
}


.option-list .option.correct {
  background: #4CAF50;
  color: white;
  border-color: #B13131;
}

.option-list .option.incorrect {
  background: #B13131;
  color: white;
  border-color: #B13131;
}

.option-list .option.incorrect:hover {
  background: #B13131;
  color: white;
  border-color: #B13131;
}

.question-box.eliminated {
	background: #a60045;
	transition: .1s ease;
}


.quiz-box .question-text {
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 20px;
}



.option-list .option {
	padding: 12px;
	max-width: 90%;
	background: #EBEBEB;
	font-size: 17px;
	font-weight: 600;
	border-radius: 10px;
	margin: 15px 0;
	cursor: pointer;
	transition: .3s;
	display: flex;
	gap: 10px;
	align-items: center;
}

.option-list .option:hover {
	background: #c3c3c3;
}

.main {
	transition: .3s ease;
	pointer-events: auto;
}

.circle {
  width: 10px;
  height: 10px;
  border: 2px solid #736b6b;
  border-radius: 50%;
  background: transparent;
}

.circle.incorrect {
	border: 2px solid white;
}

.copyright {
	position: fixed;
	bottom: 0;
	margin-bottom: 20px;
}

.quiz-header {
	width: 95%;
	position: fixed;
	bottom: 0;
	text-align: right;
	margin: 20px;
}

.quiz-header h1 {
	margin-bottom: 0;
}

.quiz-header p {
	margin: 0;
	font-weight: 400;
}

.line-header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	border-bottom: 2px solid #736b6b;
	margin-bottom: 30px;
	width: 80%;
}