body {
	color: #F5F4F4;
	background-color: #FFD01C;
	font-family: "Inter", sans-serif;
	margin: 0;
	height: 100dvh;
	height: 100vh;
}

::selection {
  background: #FFD01C;
  color: #323437;
}

.home {
	height: 100vh;
	height: 100dvh;
	display: flex;
	justify-content: center;
	background-color: #323437;
	background-image: url(assets/vector.png);
	background-size: cover;
}

.home.deactive {
	display: none;
}

.home-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home-content h2 {
	font-size: 12vw;
	font-weight: 800;
	margin: 0;
}

.home-content p {
	font-size: 1.7vw;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 30px;
	max-width: 60%;
	text-align: center;
}

.home-content .start-btn {
	width: 300px;
	height: 55px;
	background-color: #FFD01C;
	border: none;
	font-size: 25px;
	font-weight: 900;
	color: #323437;
	letter-spacing: 1px;
	cursor: pointer;
	transition: .5s ease;
	border-radius: 10px;
}

.home-content .start-btn:hover {
	font-size: 30px;
	opacity: 1;

}

.about {
	width: 250px;
	height: 30px;
	background-color: #ff9460;
	font-size: 20px;
	color: white;
	border: none;
}

.main {
	width: 100%;
	height: 100%;
	display: none;
	flex-direction: column;
	opacity: 1;
	background: #323437;


}

.main.active {
	display: flex;
}

.question-box {
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	flex-direction: column;
	padding-bottom: 2%;
}

.question-text {
	width: 90%;
	font-size: 20px;
	
}


.option-list .option.correct {
  background: #46a54a;
  color: white;
  border-color: #B13131;
}

.option-list .option.correct:hover {
  background: #46a54a;
  color: white;
  border-color: #B13131;
}

.option-list .option.incorrect {
  background: #B13131;
  color: white;
  border-color: #B13131;
}

.option-list .option.incorrect:hover {
  background: #B13131;
  color: white;
  border-color: #B13131;
}

.question-box.eliminated {
	background: #a60045;
	transition: .1s ease;
}


.quiz-box .question-text {
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 20px;
}



.option-list .option {
	padding: 12px;
	max-width: 90%;
	background: #434547;
	font-size: 17px;
	font-weight: 600;
	border-radius: 10px;
	margin: 15px 0;
	cursor: pointer;
	transition: .3s;
	display: flex;
	gap: 10px;
	align-items: center;
}

.option-list .option:hover {
	background: #F5F4F4;
	color: #434547;
}

.main {
	transition: .3s ease;
	pointer-events: auto;
}

.circle {
  width: 10px;
  height: 10px;
  border: 2px solid #736b6b;
  border-radius: 50%;
  background: transparent;
}

.circle.incorrect {
	border: 2px solid white;
}

.copyright {
	position: fixed;
	bottom: 0;
	margin-bottom: 20px;
}

.copyright a {
	background: #FFD01C;
  color: #323437;
  text-decoration: none;
  font-weight: 800;
}

.quiz-header {
	width: 300px;
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: right;
	margin-bottom: 20px;
	margin-right: 20px;
}

.quiz-header h1 {
	margin-bottom: 0;
}

.quiz-header p {
	margin: 0;
	font-weight: 400;
}

.line-header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	border-bottom: 2px solid #736b6b;
	margin-bottom: 30px;
	width: 80%;
}

.next {
	z-index: 1;
	width: 70px;
	height: 50px;
	background: #FFD01C;
  color: #323437;
  font-weight: 800;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: .3s;
}

.next:hover {
	background: #F5F4F4;
}

.prev {
	z-index: 1;
	width: 70px;
	height: 50px;
	background: #FFD01C;
  color: #323437;
  font-weight: 800;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: .3s;
}

.prev:hover {
	background: #F5F4F4;
}

.save-btn {
	z-index: 1;
	width: 200px;
	height: 50px;
	background: #FFD01C;
  color: #323437;
  font-weight: 800;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: .3s;
}

.save-btn:hover {
	background: #F5F4F4;
}

.refresh {
	width: 60px;
	height: 55px;
	background: #FFD01C;
  color: #323437;
  font-weight: 800;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: .3s;
}

.refresh:hover {
	background: #F5F4F4;
}


.tombol {
	display: flex;
	justify-content: center;
	gap: 20px;
}

#display-nomor {
	margin-top: 2%;
	text-align: left;
	width: 120px;
	color: #656666;
	font-size: 20px;
}

.counter-box {
	display: flex;
	justify-content: center;
}

